extends ../layout.pug

block content
  div.container.bg-light.flex-column.h-100.w-100.d-flex
    div.d-flex.flex-row.pt-3.align-items-start.justify-items-center
        div.col-2.mx-3.flex-column.d-flex
            a.btn.btn-primary(href="/") Back
        div.col-8.mx-3.flex-column.d-flex
            strong You only get to see a message once!